# {{ ansible_managed }}

[mysqld]
bind-address = 0.0.0.0
tmpdir = {{ mysql_tmpdir }}
skip-name-resolve

log-bin = {{ mysql_replogdir }}/master-log-bin
log-error  = {{ mysql_logdir }}/mysql-error.log

slow_query_log = true
slow_query_log_file = {{ mysql_logdir }}/mysql-slow.log
long_query_time = 10
log_queries_not_using_indexes = true
log_slow_admin_statements = true

datadir = {{ mysql_datadir }}