# {{ ansible_managed }}
[mysqld]

# GENERAL 
default-storage-engine         = {{ mysql_engine }}

{% if mysql_engine == 'myisam' and mysql_mysqld_key_buffer_size is defined %}
# MyISAM
key_buffer_size                = {{ mysql_mysqld_key_buffer_size }}M
myisam-recover-options         = {{ mysql_myisam_recover_options }}
{% else %}{% endif %}

{% if mysql_engine == 'innodb' and mysql_mysqld_innodb_buffer_pool_size is defined %}
# INNODB
innodb_buffer_pool_size       = {{ mysql_mysqld_innodb_buffer_pool_size }}
innodb_flush_method           = {{ mysql_mysqld_innodb_flush_method }}
innodb_flush_log_at_trx_commit= {{ mysql_mysqld_innodb_flush_log_at_trx_commit }}
innodb_log_files_in_group     = {{ mysql_mysqld_innodb_log_files_in_group }}
innodb-file-per-table         = {{ mysql_mysqld_innodb_file_per_table }}
innodb_stats_on_metadata      = {{ mysql_mysqld_innodb_stats_on_metadata }}
innodb-log-file-size          = {{ mysql_mysqld_innodb_log_file_size }}M
{% else %}{% endif %}

# CACHES AND LIMITS
tmp_table_size                 = {{ mysql_mysqld_tmp_table_size }}M
max_heap_table_size            = {{ mysql_mysqld_max_heap_table_size }}M
query_cache_size               = {{ mysql_mysqld_query_cache_size }}M
query_cache_type               = {{ mysql_mysqld_query_cache_type }}

# SAFETY
max_allowed_packet            = {{ mysql_mysqld_max_allowed_packet }}
table_open_cache              = {{ mysql_mysqld_table_open_cache }}
table_definition_cache        = {{ mysql_mysqld_table_definition_cache }}

# BINARY LOGGING
sync_binlog                   = {{ mysql_mysqld_sync_binlog }}

# LOGGING
log_warnings                  = {{ mysql_mysqld_log_warnings }}
log-queries-not-using-indexes
slow_query_log                = {{ mysql_mysqld_slow_query_log }}
slow_launch_time              = {{ mysql_mysqld_slow_launch_time }}
long_query_time               = {{ mysql_mysqld_long_query_time }}